* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.fontAw
{
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
}

.bg-img {
  background: url("hashira.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.174);
}

.content {
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 40px 12px;
  width: 420px;
  transform: translate(-54%, -54%);
  background: rgba(255, 255, 255, 0.001);
  border: 1px solid #fff;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.content header {
  color: #F0EBE3;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
}

.field {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
  border: 1px solid grey;
}

.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.field input:focus
{
  outline: none !important;
  border-color: #252525;
    box-shadow: 0 0 10px #252525;
}

.space {
  margin-top: 3px;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.pass-key:valid~.show {
  display: block;
}

.checkbox
{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.top-field
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom-field
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button
{
  display: inline-block;
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 15px 60px;
  letter-spacing: 2px;
  border: 3px solid white;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}
.button:hover
{
  animation: pulse 1.4s ease-in-out infinite;
}

.submitButton
{
  background-color: black;
}
footer
{
  color: white;
  text-align: center;
}



@keyframes pulse {
  0%
  {
    box-shadow: 0 0 25px white,
                0 0 40px #DFDFDE;
  }
}
